ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

#error_info{
   visibility: hidden;
}

#show_initial{
  visibility: hidden;
}

#show_initial1{
  visibility: hidden;
}
#show_tors{
  visibility: hidden;
}